<template name="dashboard">

  <div class="container">
    <div class="page-header">
      <h4>Dashboard</h4>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item active"> Notification</a>
          <a href="{{pathFor 'user management activity'}}" class="list-group-item"><span class="badge">{{unreadUserManagementLogCount}}</span> User Management </a>
          <a href="{{pathFor 'reports'}}" class="list-group-item"><span class="badge">{{unreadReportCount}}</span> Report </a>
        </div>
      </div>
      <div class="col-md-9">

      </div>
    </div>
  </div>
</template>
