<template name="santasOnHisWay">
  <div class="jumbotron align-center">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <!-- <i class="fa fa-smile-o fa-5x"></i> -->
          <img src="/images/Zeusbox-Christmas-Sock.ico" alt="Christmas Sock">
        </div>
        <h2>We're waiting for the system to figure out a match! Your Secret Santa will contact you soon.</h2>
        <div class="col-md-8">
          <p>Christmas time is always</p>
          <p>A special time of year</p>
          <p>A time for joy and happiness</p>
          <p>And lots of Christmas cheer</p>

          <p>Santa's on his way</p>
          <p>Santa's on his way</p>
        </div>

      </div>
     </div>
  </div>
</template>
