<template name="thanksForParticipating">
  <div class="jumbotron align-center">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <!-- <i class="fa fa-smile-o fa-5x"></i> -->
          <img src="/images/Zeusbox-Christmas-Snowman.ico" alt="Snowman">
        </div>
        <div class="col-md-8">
          <h3>Hooray !!</h3>
          <p>Thanks for participating</p>
          <p>How beautiful a day can be, when kindness touches it! <i> ~ George Elliston </i></p>
          <p>Once a person recieves your gift your will be notified.</p>
          <p>Share this on twitter #secretsanta</p>
        </div>

      </div>
     </div>
  </div>
</template>
