<template name="thanksForRegistering">
  <div class="jumbotron align-center">
    <div class="container">
      <div class="row">

          <div class="col-md-4">
              <!-- <i class="fa fa-smile-o fa-5x"></i> -->
              <img src="/images/Zeusbox-Christmas-Ginger-man.ico" alt="Christmas Ginger man">
              
          </div>
          <div class="col-md-8">
            <h3>Thank you for signing up for Secret Santa!</h3>
            <p>Your email address and your interests will be sent to your Secret Santa. We'll also notify you as soon as you're matched with your own recipient.</p>
            <p>Remember: gifts should be sent virtually to the email address of your Secret Santa match, and should be ~$10. Also remember to log back in to the site to confirm delivery when you've received your own gift from your Secret Santa!</p>

            <p>You can discuss this (secret) secret Santa project on twitter using the hashtag #secretsanta.</p>

            <p>P.S. If you're not sure what an appropriate ~$10 virtual gift might be, check out this <a href="https://docs.google.com/document/d/1a2IlrszEAGpi7rliphX3sibM9s3CHW0-4d1aKeZGlWU/edit" target="-blank">Google Doc</a> of ideas. As you can see, virtual gifts can be Amazon.com, Github, or iTunes gift cards, Kindle books, donations to charities, or anything else your recipient has expressed an interest in!</p>
          </div>

      </div>
     </div>
  </div>
</template>
