<template name="howDoesItWorks">

<div class="jumbotron">
    <div class="page-header">
      <h3>How does it work?</h3>
    </div>
    <ol>
    	<li>Sign in with your CodeBuddies Slack team. (If you don't have an account, scroll down to get your Slack invite!)</li>
    	<li>Fill out the form.</li>
    	<li>You'll be assigned to be someone's Secret Santa.</li>
    	<li>Give them your gift!</li>
    	<li>When you've recived your gift from your Secret Santa, click to confirm that you've received the gift.</li>
    </ol>
</div>
</template>
