<template name="howDoesItWorks">

<div class="jumbotron howDoesItWorks">
    <div class="page-header">
      <h3>How does this work?</h3>
    </div>
    <p><strong>Sign up, get matched, email your recipient a virtual ~$10 gift based on the interests they filled out, and receive a virtual ~$10 gift from your own Secret Santa in return.</strong></p>
    <h3>Step by step:</h3>
    <ol>
    	<li>Sign in with any Slack team and account. <br /> <small>If you don't have a Slack account, and if you're interested in joining a friendly and not-for-profit open-sourced community for independent code learners, feel free to join codebuddies.slack.com:</small><script async defer src="https://codebuddiesmeet.herokuapp.com/slackin.js?large"></script></li>
    	<li>Fill out your interests ("letter to Santa") on the next screen.</li>
    	<li>Watch out for a notification as soon as you're assigned to be someone's Secret Santa!</li>
    	<li>When you're matched with a recipient, you can log back into the site to see your recipient's email. Based on their profile, send them a virtual gift <strong>around $10</strong> before the deadline: <strong>the midnight before Thursday, December 22nd, 2016</strong>. If the profile of your recipient looks fake, you can flag the user and be matched with a new recipient.</li>
    	<li>When you've received a virtual gift from your <i>own</i> Secret Santa, remember to log in and <strong>click to confirm that you've received their gift</strong>.</li>

    </ol>
    <div class="page-header">
      <h3>FAQ</h3>
    </div>
      <ol>
        <li>What are some examples of virtual gifts I can send or receive that are around $10?</li>
        <p>Check out this <a href="https://docs.google.com/document/d/1a2IlrszEAGpi7rliphX3sibM9s3CHW0-4d1aKeZGlWU/edit" target="-blank">Google Doc</a> of ideas. As you can see, virtual gifts can be Amazon.com, Github, or iTunes gift cards, Kindle books, donations to charities, or anything else your recipient has expressed an interest in!</p>
        <li>How much of my information is shared with my Secret Santa after I sign in with Slack?</li>
        <p>Your username, email, and the interests you filled out when you signed up will be viewable by your Secret Santa after you're matched. They'll send you your virtual gift (e.g. a gift card) directly to the email linked to the Slack account you signed in with. Your email won't be public to anyone else.</p>
        <li>How are participants matched as Secret Santas?</li>
        <p>The matching process is automatic! We have a cron job that runs every few hours and assigns newly registered users to their Secret Santas, and vice versa.</p>
        <li>I noticed a bug. How do I report it or help fix it?</li>
        <p>This project is open-sourced! Please file an issue <a href="https://github.com/codebuddiesdotorg/secret-santa/issues">on Github</a>.</p>
        <li>When is the deadline to sign up as a Secret Santa?</li>
        <p>All gifts are due by December 22nd! We will turn off signup by December 21st.</p>
        <li>Why are gifts suggested to be around $10? Can I give more or less than that?</li>
        <p>We figured $10 was the most reasonable amount for a virtual gift, but of course you can give a little more or less than that.</p>
        <!-- <li>I signed up, but I don't want to become a Secret Santa anymore! Can I withdraw?</li>
        <p>You can click to withdraw from being a Secret Santa as long as you have not yet received a gift. If there are extenuating circumstances, please <a href="mailto:codebuddiesdotorg@gmail.com?Subject=Secret%20Santa%20Problem">email us</a> as soon as possible.</p> -->
        <li>I suspect that the person I've been assigned to as a Secret Santa is not a serious participant, since they've filled out almost next to nothing in their profile. What do I do?</li>
        <p>You can flag the user as spam, and one of the moderators will check it out and remove the user from the queue if they are illegitimate. You will be assigned a new recipient.</p>
        <li>When does this Secret Santa project end?</li>
        <p>We require all gifts to be emailed before midnight on Thursday, December 22nd. </p>
      </ol>
   

</div>
</template>
