<template name="introduction">
  <div class="jumbotron introduction">
    <h3 class="center">CodeBuddies Secret Santa</h3>
    <p class="center">
      Currently there are <strong>{{totalNumberOfParticipants}}</strong> participants from <strong>{{totalNumberOfUniqueTimezone}}</strong> different timezones.

    </p>
    <p class="center">
      Total number of gifts sent: {{totalGiftSent}}
    </p>
    <p class="center">
      Total number of gifts received: {{totalGiftReceived}}
    </p>
  </div>
</template>
