<template name="introduction">
  <div class="jumbotron">
    <h3>Secret Santa</h3>
    <p>
      Secret Santa is a Christmas ritual involving a group of people exchanging
      anonymous gifts. Participants names are placed in a hat and each
      person draws a name for whom they are to buy a gift. Presents are then
      exchanged anonymously. There is usually a gift giving occasion, where
      all the presents are placed on a table, with the name of the receiver, but
      not the giver.<i>~ wikipedia</i>
    </p>

    <p>
      Currently there are {{totalNumberOfParticipants}} Participants from {{totalNumberOfUniqueTimezone}} different Timezones.
    </p>
  </div>
</template>
