<template name="registerForSecretSanta">

  <div class="jumbotron registerForSecretSanta">
    <div class="page-header text-center">
      <h3>Thank you to our December 23rd Raffle sponsors!</h3>
    </div>

    <div class="text-center">

      
    </div>
  </div>

  <div class="jumbotron howDoesItWorks">
  	<div class="page-header text-center">
      <h3>Acknowledgements</h3>
    </div>
    <ul>	
    	<li><a href="http://www.iconarchive.com/show/christmas-icons-by-zeusbox/sock-icon.html">Zeus Box</a></li>
    	<li><a href="http://schillmania.com/projects/snowstorm/license.txt">Snowstorm JS</a></li>

    </ul>

    <h3>About Us</h3>
    <ul><li>This project is open-sourced on <a href="https://github.com/codebuddiesdotorg/secret-santa/" target="_blank">Github</a>.</li>
    </ul>
  </div>
</template>
