<template name="registerForSecretSanta">

  <div class="jumbotron howDoesItWorks">
  	 <div class="page-header">
      <h3>Why are you doing this?</h3>
    </div>
      <p>We wanted to spread the joy of more anonymous gift giving among the coding community this December! <br /><small>Also, @distalx had the idea and just... ran with it, and pulled in a few other members of the CodeBuddies community to contribute. Like all CodeBuddies projects, this project is <a href="https://github.com/codebuddiesdotorg/secret-santa/" target="_blank">open-sourced</a> on Github.</small></p>
  </div>
</template>
