<template name="blockUserModal">
  <div class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="blockUserModal">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>Are your sure ?</h4>
              </div>
              <div class="modal-body">


              </div><!--modal body-->

              <div class="modal-footer">
                  <button id="confirm" class="btn btn-primary btn-raised pull">Yes</button>

                  <button id="cancle" class="btn btn-primary btn-raised pull-right">Cancel</button>
              </div>

            </form>

          </div><!--modal content-->
      </div><!--modal dialog-->
  </div>
</template>
