<template name="giftReceived">
  <div class="jumbotron align-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- <i class="fa fa-gift fa-5x"></i> -->
          <img src="/images/Zeusbox-Christmas-Snowman.ico" alt="Snowman">
        </div>
        <div class="col-md-8">
          <p>{{letter.user.firstname}} Has received your gift.</p>
          <p>Share this on Twitter #secretsanta</p>
        </div>

      </div>
     </div>
  </div>
</template>
