<template name="giftArrived">
  <div class="jumbotron align-center">
    <div class="container">
      <div class="row">

          <div class="col-md-4">
              <!-- <i class="fa fa-gift fa-5x"></i> -->
              <img src="/images/Zeusbox-Christmas-Gift-box.ico" alt="Gift">
          </div>
          <div class="col-md-4">
            <p>Santa has delivered the gift.</p>
            <p>Share this on twitter #secretsanta</p>
            {{#unless received}}
              <div class="btn btn-default" id="confirmDelivery"> Confirm Delivery</div>
            {{/unless}}
          </div>

      </div>
     </div>
  </div>
</template>
