<template name="myGift">
  {{#unless currentUser}}
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Please log in to see this information!</h5>
      </div>
    </div>
  {{else}}
    {{#if Template.subscriptionsReady}}

        {{#with letter}}

          {{#if letter.secret_santa.id}}

            {{#if letter.gift.sent}}

              {{> giftArrived received=letter.gift.received}}

            {{else}}

              {{> santasOnHisWay}}

            {{/if}}<!-- letter.sent -->

          {{else}}

            {{> thanksForRegistering}}

          {{/if}}<!-- letter.secret_santa.id -->

        {{else}}

          {{#if currentUser.duplicate}}
            {{> duplicateUser}}
          {{else}}


            <!-- new registration is closed after 22nd of Dec -->
            <!-- {{> letterToSanta}} -->
            <!-- new registration is closed after 22nd of Dec -->
            {{> weAreClosed}}

            
          {{/if}}

        {{/with}}


    {{/if}}
  {{/unless}}
</template>
