<template name="myGift">
  {{#if Template.subscriptionsReady}}

      {{#with letter}}

        {{#if letter.secret_santa.id}}

          {{#if letter.gift.sent}}

            {{> giftArrived received=letter.gift.received}}

          {{else}}

            {{> santasOnHisWay}}

          {{/if}}<!-- letter.sent -->

        {{else}}

          {{> thanksForRegistering}}

        {{/if}}<!-- letter.secret_santa.id -->

      {{else}}

        {{#if currentUser.duplicate}}
          {{> duplicateUser}}
        {{else}}
          {{> letterToSanta}}
        {{/if}}
        
      {{/with}}


  {{/if}}

</template>
