<template name="assignedLetter">
  {{#if Template.subscriptionsReady}}
    {{#with letter}}
      {{#if letter.gift.received}}

        {{> giftReceived letter=this}}

      {{else}}
          {{#unless letter.gift.sent}}

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Your assigned recipient</h2>
              </div>
              <div class="panel-body">
                <p>Reminder: please send your gift as soon as possible! All gifts are due by midnight GMT before December 22nd.</p>
                <div class="col-md-4">
                  <h3>First name: <small> {{letter.user.firstname}}</small></h3>
                </div>
                <div class="col-md-4">
                  <h3>Last name: <small> {{letter.user.lastname}}</small></h3>
                </div>
                <div class="col-md-4">
                  <h3>Gift preference:<small> {{letter.preference}} </small> </h3>
                </div>
                <div class="col-md-6">
                  <h3>Email: <small> {{letter.user.email}} </small> </h3>
                </div>
                <div class="col-md-6">
                  <h3>Slack Team: <small> {{letter.user.slack_team}} </small> </h3>
                </div>
                <hr>
                <div class="col-md-6">
                  <div class="page-header">
                    <h3>Introduction:</h3>
                  </div>
                  <h4>
                    {{letter.introduction}}
                  </h4>

                </div>
                <div class="col-md-6">
                  <div class="page-header">
                    <h3>Areas of interest:</h3>
                  </div>
                  <h4>
                    {{letter.categories}}
                  </h4>

                </div>
              </div>
            </div>

            {{#unless equals letter.status 'reported'}}
            {{#if letter.verified}}
              {{> accidentallyReportedLetter}}
            {{/if}}
              <div class="row">
                <div class="col-md-12">
                  <div class="btn btn-block btn-default" id="reportUser">
                    Report User
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="btn btn-block btn-default" id="giftConfirmation">
                    I have sent a ~$10 gift to the email address provided.
                  </div>
                </div>
              </div>
            {{else}}
              {{> thanksForReporting}}
            {{/unless}} <!-- letter.reported -->



          {{else}}
            {{> thanksForParticipating}}
          {{/unless}}<!--letter.sent -->

      {{/if}}

    {{else}}
      {{> thanksForRegistering}}
    {{/with}}
  {{/if}}


</template>
